.app-header {

    // background-color: $clr4;
    // padding: 10px;


    // .user-info {
    //     // background-color: $clr2;
    //     // padding: 2px 8px;
    //     padding-left: 100px;
    //     // color: $clr1;

    //     .score {
    //         // background-color: $clr2;
    //         // color: $clr6;
    //         padding: 8px;
    //         margin: 10px;
    //         border-radius: 50%;
    //     }

    //     img {
    //         width: 32px;
    //         height: 32px;
    //         border-radius: 50%;
    //         object-fit: cover;
    //     }
    // }

    // .user-info .btn-link {
    //     // color: $clr2;
    // }

    // nav {
    //     font-size: .8em;
    //     // background-color: $clr5;
    //     padding: 5px;

    // }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     // border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    // nav .active {
    //     // color: $clr1;
    // }

}

.main-header {
    .logo{
        margin-right: 200px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    >* {
        display: flex;
    }

    nav {
        border: solid $grey 1px;
        border-radius: 2em;
        // padding: 5px;

        >*  {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: $paddingHeader ;

            >* {
                margin: 0;
                text-transform: capitalize;
                
            } 

        }

        .seprertor{
            color:$grey ;
            margin: 0;
        }

       



    }


}

.serachIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: $pink;
    border-radius: 50%;
    width: 2em;
    margin-right: 5px;
    margin-left: 10px;


    img {
        margin: 10px 0;
        max-width: $icon-size;
        aspect-ratio: 1/1;
    }

}

.usersOpstion {
    >* {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:$paddingImg ;
    }

    .switchToHost {
        >* {
            margin: 0;
            text-transform: capitalize;
        }

    }

    .loginMenu {
        border: solid $grey 1px;
        border-radius: 2em;

        >* {
            padding: 5px;
        }

        .img {
            width: 30px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

}