$clr-ligthtext:#717171;
$clr-box-radius: #DDDDDD;
$clr-search-icon-bgc:#dc0e64;

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >* {
        display: flex;
    }
    
    .logo{
        margin-right: 200px;
    }

    nav {
        border: solid $clr-box-radius 1px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        transition: box-shadow 0.2s ease;
        >*  {
            display: flex;
            justify-content: center;
            align-items: center;
            >* {
                margin: 0; 
            } 

        }

        a{
            p{
                padding: $paddingHeader ;
                font-weight: 600;
                color: $text-black;
                &::first-letter{
                    text-transform: capitalize;
                }
                &.addguest{
                    font-weight: 100;
                    color: $clr-ligthtext;
                }
            }
            &:hover{
                text-decoration: none;
            }
        }
        .seprertor{
            color:$grey ;
            margin: 0;
        }
    }
}

.serachIcon {
    background-color: $clr-search-icon-bgc;
    border-radius: 50%;
    padding: 16px;
    margin: 10px;
    >* {
        fill:$clr-search-icon-bgc;
        color:$white ;
        font-size: 20px;
        font-weight:bold;
        aspect-ratio: 1/1;
        background:'#ff5a5f';
        stroke-width: 2.5;
    }
}

.usersOpstion {
    >* {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:$pad-12 ;
    }

    .switchToHost {
        >* {
            margin: 0;
            &::first-letter{
                text-transform: capitalize;
            }
        }

    }

    .loginMenu {
        border: solid $grey 1px;
        >* {
            padding: 5px;
           
        }

        .img {
            width: 30px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

}