.search-option-to-mobile {
    background-color: rgb(246, 242, 242);
    font-family: cereal;
    position: fixed;
    display: grid;
    grid-template-columns: 12px 1fr 12px;
    grid-template-rows: 10% 80% 10%;
    top: 1px;
    width: 100%;
    height: 100%;
    z-index: 40;

     @media (min-width: $medium-breakpoint) {
        display: none;
    }

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1/-1;
        }
    }


    &.close-bar {
        opacity: 0;
        transform: scaleY(0) // tran

    }

    .return-btn {

        @include flex-center;
        justify-self: flex-start;
        align-self: center;
        width: fit-content;
        height: fit-content;
        border-radius: 50%;
        border: 0.5px solid #222222;
        cursor: pointer;
        padding: 7px;
        margin-left: 9px;

        >* {
            font-size: 16px;
            color: #222222;
        }

    }

    .search-menu {
        overflow-y: scroll;

        >* {
            box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 4px 6px rgb(0 0 0 / 3%);
            background-color: white;
        }

        .bar-close {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 20px;
            border-radius: 15px;
            max-height: 54px;


            >* {
                font-size: 14px;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            &:not(:last-child) {
                margin-bottom: 12px
            }

            .option {
                color: #717171;

            }
        }

        .bar-open {
            padding: 24px 20px;
            border-radius: 15px;
            margin-bottom: 10px;

            .title {
                color: #222222;
                letter-spacing: 0.05em;
                margin-bottom: 1rem;
            }

            &.location {
                .search-bar-to-click {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    border: solid #717171 1px;

                    border-radius: 15px;
                    padding: 0 20px;

                    :first-child {
                        margin-right: 10px;
                        stroke-width: 3;
                    }
                }
            }

            &.when {

                .day-picker-modal {
                    line-height: 1em;

                    >* {
                        @include flex-center
                    }

                    @include for-calendar;

                    .react-datepicker {
                        font-size: 14px;
                    }

                    .react-datepicker__month-container {
                        margin: 0;
                    }

                    .react-datepicker__header {
                        border-bottom: 0;
                        padding: 0;
                        margin-bottom: 14px;

                        .react-datepicker__day-name {
                            margin: 1px;
                            vertical-align: middle;
                            width: 42px
                        }
                    }


                    .react-datepicker__day {
                        // border-radius: 0;
                        padding: 14px;
                        line-height: 1.5em;
                        margin: 1px;
                        vertical-align: middle;

                        &:hover {
                            border-radius: 50%;

                        }
                    }

                    .react-datepicker__day {
                        &--range-start {
                            border-radius: 50%;
                        }

                        &--range-end {
                            border-radius: 50%;
                        }

                        &--selecting-range-start {
                            border-radius: 50%;
                        }

                        width: 42px;
                        padding: 10px;
                    }

                }
            }

            &.who {
                .guests-adding-modal {

                    @include for-guest-counter;
                    border-radius: 0;
                    box-shadow: 0 0 0 0;

                    .guests-modal-open {
                        padding: 0;

                    }


                }
            }



        }
    }

}

.clear-and-search-btn {
    position: sticky;
    width: 100%;
    height: 100px;
    z-index: 41;
    bottom: 0;
    padding: 12px 24px 12px 12px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 0px rgb(0 0 0 / 5%), 6px 4px 0 rgb(0 0 0 / 3%);

    >* {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

    }

    .reset-option {
        &::first-letter {
            text-transform: capitalize;
        }

        color: #222222;
        text-decoration: underline
    }

    .search-btn {
        @include flex-center;
        background-color: rgb(230, 30, 77);
        color: $white;
        font-size: 1em;
        border-radius: 10%;
        padding: 12px 18px;

        &::after {
            margin-left: 10px;
            content: "Search";
        }
    }

    .next-btn{
        @include flex-center;
        background-color: #222222;
        color: $white;
        border-radius: 10%;
        padding: 14px 28px;

    }
}