.secondary-filter {
        align-items: center;
        position: sticky;
        top: 60px;
    
        justify-content: space-between;
        padding: 0.625rem 0 0 0;
        gap: 2rem;
        .icons-container {
            // min-width: 64px;
            padding: 0.8rem 0;
            margin-right: 2.5rem;
            
            &:last-of-type{
                margin-right: 0;   
            }       
        }
        
    
        .label {
            color: $clr-ligthtext;
            font-size: 0.75rem;
            font-weight: 600;
            letter-spacing: 0.02rem;
            font-family: circular;
        }
        
        .icons-img {
            opacity: 0.6;
            height: 1.5rem;
            width: 1.5rem;
            margin-bottom: 0.5rem;
    
        }
    
        .extra-filters-container {
           display: none;
        }
    
        .icons-container:hover {
            box-shadow: 0px 2px 0px 0px rgba(160, 160, 160, 0.372);
            cursor: pointer;
    
            .icons-img {
                opacity: 1;
            }
    
            .label {
                color: black;
            }
        }
    
        .clicked-label {
            // padding-bottom: 20px;
            // border-bottom: 2px black solid;
            box-shadow: 0px 2px 0px 0px black;
    
            .icons-img {
                opacity: 1;
            }
    
            .label {
                color: black;
    
            }
        }
    }

    .MuiBox-root {
        flex: 1 0 auto;

    }

    .MuiTab-root {
        flex-direction: row;
        max-width: fit-content;
        font-family: circular;
        text-transform: none;
    }

    .MuiTabScrollButton-root{
        display: none;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: #ffffff;
        white-space: nowrap;
        padding : 12px 0;
        
    }

    .MuiTabs-root:active {
        background-color: rgba(255, 255, 255, 0);
    }

    .css-1aquho2-MuiTabs-indicator {
        background-color: #ffffff00;
    }

    .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
        border-radius: 50%;
        border: 0.1px rgba(0, 0, 0, 0.329) solid;
        opacity: 1;
        height: 2rem;
        width: 2rem;
        align-self: center;
        padding: 0;

        &.Mui-disabled{
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

    }

    .css-jnbkl4 {
        border-color: #dddddd00;
        background-color: transparent;

    }


// @media (min-width: $small-breakpoint) {
// }
// @media (min-width: $large-breakpoint) {
// }
// @media (min-width: $x-large-breakpoint) {
// }


@media (min-width: $medium-breakpoint) {
    .secondary-filter {
        .extra-filters-container {
            @include flex-center;
            padding: 7px 0px;
            font-size: 0.9rem;
            border: 1px solid #DDDDDD;
            border-radius: 0.75rem;
            padding: 0.7rem 1rem;
            background-color: $white;

            :first-child {
                margin-right: 5px;
            }
        }

        .MuiTabScrollButton-root{
            display: flex;
        }

    }



}
