.search-bar {

    width: 650px;
    background: $clr-box-radius;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: 55px;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;

    div {
        // border-radius: inherit;
        // padding: 0.8rem 1.5rem;
        transition: background 250ms ease;

        &:hover {
            background: hsl(0 0% 94%);
        }
    }

    .location {
        width: 34%;
        p{
            margin: 0;
        }
        div {
            border-radius: inherit;
            padding: 0.8rem 1.5rem;
        }   
    }

    .check-in{
        .calender{
            position: relative;
        }
    }

    .check-in,
    .check-out,
    .guests {
        width: 22%;
        p{
            margin: 0;
        }
    }

    .check-in{

    }
    .react-datepicker-wrapper{
        
        >*{
            padding: 0;
        }

    }

    input[type="text"] {
        background: none;
        border: none;
        padding: 0.2rem 0 0 0;
    }

    input[type="text"]:focus {
        outline: none;
    }

    ::placeholder {
        font-size: 0.75rem;
    }

    .guests {
        position: relative;

        span {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            background: #FF385C;
            color: white;
            font-size: 0.8rem;
            padding: 0.7rem;
            border-radius: 50%;
        }
    }

    bar {
        div {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 55%;
                background: hsl(0 0% 90%);
            }

            &:nth-of-type(1)::before{
                background:transparent;
             }
            
            &:hover::before{
                background:transparent;
            }
        }
    }
}


// .search-bar{
//     background-color: $white;
//     border: 1px $grey solid;
//     width: fit-content;
//     // border-radius: 30%;

//     .where{
//         padding-left: $pad-20;
//         padding-right: $pad-20;
//         display: flex;
//         j;ustify-content: center;
//         align-items: center;
//         border-inline-end: 0.5px solid rgb(157, 156, 156) ; 



//         input{
//             width: 200px;
//             border-inline-end: 0.5px solid rgb(157, 156, 156) ;
//         }
//     }


//     .DateRangePickerInput_arrow {
//         display:none
//     }
//     .DateInput{

//     }
// }


// .search-title{

//     .active{


//     }


//     textarea:focus, input:focus{
//         outline: none;
//     }

//     input, label {
//         display:block;
//     }

//     input{
//         border: none;
//         font-size: rem(14px);
//     }

//     label{
//         font-weight: 600;

//     }


// }