.search {
    background-color: #fff;
    position: relative;
    max-height: 0;
    z-index: 30;

    .close {
        transform: scaleY(0)
    }

    .search-row {
        display: grid;
        grid-template-columns: 1fr minmax(650px, 750px) 1fr;

        >* {
            grid-column: 2;
            // @include flex-center;
        }

        .test {
            position: relative;
            top: 0;
            max-height: 0px;

            .blank {
                position: relative;
                background-color: black;
            }
        }

    }

}

.black-screen {
    position: fixed;
    inset: 0;
    background-color: #45414196;
    z-index: 14;
}


.search-bar {
    @include flex-center;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    border: solid 0.5px $clr-border-between-div;
    
    min-height: 55px;
    border-radius: 100vw;
    font-size: 0.6rem;

    &.bar-active {
        background-color: #ebebeb;
        transform: scaleX(1.02);
    }

    .option-cover {
        border-radius: 100vw;
    }


    .bar-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex: 1 0 34%;
        width: 34%;
        padding: 12px 12px 12px 18px;



        &:hover {
            @include butHoverOn;
        }

        input{
            max-width: 110px;
        }
        .btn-left{
            margin-left: 50px;
            
        }

    }

    .search-active {
        border-radius: 100vw;
        @include butHoverOn;
        background-color: $white;
    }

    .btn-rs {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        opacity: 0;
        min-height: 24px;
        min-height: 24px;
        border-radius: 50%;
        background-color: #ebebeb;

        &.show-btn {
            opacity: 1;
            font-weight: 400;
        }

    }

    .check-date {
       margin-left: 10px;
        @include flex-center;
        display: flex;
        width: 33%;

        .checkIn,
        .checkOut {
            display: flex;
            margin-right: 5px;
            @include padding-br;

            &:hover {
                @include butHoverOn;
            }

            input {
                max-width: 70px;
                text-overflow: ellipsis;
            }

            p {
                margin: 0;
                padding: 0;

            }

        }

    }

    label {
        @include fontWeightBold;

    }

    input[type="text"] {
        background: none;
        border: none;
        text-overflow: ellipsis;
        width: max-content;

    }

    input[type="text"]:focus {
        outline: none;
    }

    ::placeholder {
        font-size: 0.75rem;
        @include fontWeightLight;
    }

    .search-option {
        margin-right: 5px;
        width: 37%;
        // flex: 1 0 37%;
        transform: translateX(5px);

        &:hover {
            @include butHoverOn;
        }
    }

    .guests {

        display: flex;
        padding: 8px 12px 8px 8px;
        @include flex-center;
        border-radius: 100vw;
        justify-content: flex-start;

        &.active {

            padding: 6px 0px 6px 8px;
        }

        input {
            max-width: 80px;

        }

        .bar-input{
            margin-left: 5px;
        }

        .search-icon {
            margin-left: 10px;
            justify-self: flex-end;
            display: flex;
            align-items: center;
            border-radius: 50px;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 14px 14px;
                // padding:  1px 16px;
                background-color: rgb(255,56,92);
                color: $white;
                font-size: 1.6em;
                border-radius: 50%;
                @include fontWeightBold;

                &.active {
                    border-radius: 100vw;
                    @include fontWeightBold;
                    transform: translateX(-5px);

                    &::after {
                        margin-left: 5px;
                        content: "Search";
                    }
                }
            }
        }

    }

    hover {
        @include butHoverOn;
    }


}

.search-modal {
    z-index: 15;
    border-radius: 32px;

    >* {
        background-color: #fff;
    }

    .day-picker-modal {
        line-height: 1.2em;

        @include for-search-bar-open;

        >* {
            @include flex-center
        }

        @include for-calendar
    }

    .icon-cover-gray {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $clr-border-between-div;
        width: 48px;
        height: 48px;
        border-radius: 15px;
        font-size: 1.2em;
        margin-right: 10px;
    }

    .quick-results-by-text-modal {

        display: grid;
        grid-template-columns: 1fr 1fr
    }


    .where-model {

        @include for-search-bar-open;
        display: grid;
        grid-template-columns: minmax(100px, 250px) 1fr;

        .show-recent-search {
            h1 {
                font-size: $font-size-search-bar;
            }

            .recent-search-list {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(5, 1fr);

                .last-search {
                    display: flex;
                    align-items: center;

                    .search-details {
                        >* {
                            margin: 0;
                            padding: 0;
                            font-size: $font-size-search-bar;
                        }

                        .last-se {

                            &::before {
                                content: ".";
                                position: relative;
                                top: -3px
                            }

                        }
                    }
                }
            }


        }

        .search-by-region {
            padding-left: auto;
            border-left: solid 1px $clr-border-between-div;

            h1 {
                font-size: $font-size-search-bar;
                grid-area: 1/1/2/-1;
            }

            .recent-search-list {
                display: flex;
            }

            .region-options {
                display: grid;
                grid-template-columns: repeat(3, $region-pic-width);


                .reginImg {
                    padding: 10px;

                    img {
                        width: $reginImg;
                        border-radius: 15px;

                        &:hover {
                            outline: 0.5px solid black;
                        }
                    }
                }

                h3 {
                    @include fontWeightLight;
                    font-size: $font-size-search-bar;
                }
            }
        }

    }

    .guests-adding-modal {
        @include for-search-bar-open-small;
        margin-left: auto;
        min-width: fit-content;

        @include for-guest-counter;
    
        .guests-modal-open {

            padding: 1rem 2rem;
            grid-area: 1/2/2/3;

            .guest{
                .counter{
                    min-width: 32px;
                    .btn-counter{
                        padding: 0px;
                        width: 32px;
                        height: 32px;
                    
                    }
                }
            }

        }
    }
}


@media (min-width: $large-breakpoint) {

    .checkIn,
    .checkOut {
        margin-right: 5px;
        @include padding-br;
      
    }

    .guests-adding-modal {
        background-color: red;
    }


    .where-model {


        grid-template-columns: 250px 1fr;

        .search-by-region {
            padding-left: 28px;
        }
    }
}

@media (min-width: $medium-breakpoint) {}

// .search-bar {    
//     background-color: $white;
//     border: solid 0.5px $clr-border-between-div;
//     max-height: 58px;
//     border-radius: 100vw;
//     display: flex;
//     font-size: 0.6rem;
//     margin-top: 0.75rem;
//     margin-bottom: 20px;
//     margin-right: 5px;

//     &.bar-active{
//         background-color: #ebebeb;
//         transform: scaleX(1.02);
//     }

//     .option-cover{
//         border-radius: 100vw;
//     }


//     .bar-input {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }

//     .location {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         @include padding-br;
//         flex:1 0 200px;

//         &:hover {
//             @include butHoverOn;
//         }

//         p {
//             margin: 0;
//         }

//         input {
//             padding: 0;
//         }

//     }
//     .search-active {
//         border-radius: 100vw;
//         @include butHoverOn;
//         background-color: $white;
//     }

//     .btn-rs {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border-radius: 50%;
//         opacity:0;
//         background-color:  #ebebeb;
//         display: flex;
//         max-height: 24px;
//         margin-top:7px;


//         &.show-btn {
//             opacity: 1;
//             font-weight: 400;
//         }

//     }

//     .check-date {
//         margin-left: 5px;
//         display: flex;
//         .checkIn,
//         .checkOut {
//             flex:1 0 65px;
//             display: flex;
//             margin-right: 5px;
//             @include padding-br;  
//             &:hover {
//                 @include butHoverOn;
//             }

//             .bar-input {
//                 max-width: rem(58px);
//             }

//             p {
//                 margin: 0;
//                 padding: 0;

//             }

//         }

//     }

//     label {
//         @include fontWeightBold;

//     }

//     input[type="text"] {
//         background: none;
//         border: none;
//         padding: 0.2rem 0 0 0;
//         @include fontWeightBold;

//     }

//     input[type="text"]:focus {
//         outline: none;
//     }

//     ::placeholder {
//         font-size: 0.75rem;
//         @include fontWeightLight;
//     }

//     .guests {
//         display: flex;
//         justify-content: flex-end;

//         @include padding-br;
//         justify-content: center;
//         align-content: center;
//         padding-right: 65px;
//         border-radius: 100vw;


//         .bar-input {
//             max-width: rem(80px);
//         }

//         p {
//             margin: 0;
//         }

//         .btn-rs {
//             margin-right: 0px;
//         }

//         &.active {
//             padding-right: 16px;
//         }

//         .search-icon {
//             flex-wrap: nowrap;
//             display: flex;
//             align-items: center;
//             padding-left: 16px;
//             background-color: $clr-search-icon-bgc;
//             border-radius: 50px;
//             padding-right: 16px;
//             transform: translateX(55px);
//             @include fontWeightBold;
//             &.active {
//                 border-radius: 100vw;
//                 transform: translateX(5px);
//                 translate: transform 0.6s;


//                 ::after {
//                     @include fontWeightBold;
//                     content: "Search";
//                     margin-left: 0.5em;
//                 }

//             }
//             .icon {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 color: $white;
//                 font-size: 1.6em;
//                 border-radius: 50px;
//                 transition: width 0.7s;

//             }



//         }
//         &:hover {
//             @include butHoverOn;
//         }
//     }


// }