* {
  box-sizing: border-box;
}

::selection {
  // background-color: $clr1;
  // color: $clr6;
}

html {
  font-family: circular;
  line-height: 1.25rem;
  // color: $clr2;
}

body {
  font-size: rem(16px);
  margin: 0;
  max-width: 100vw;
  // margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: circular, sans-serif;
  // margin: 0 0 0.6em;
  line-height: 1;
}

// section, main, footer {
//     padding: 5px;
// }

img {
  width: 100%;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

button {
  cursor: pointer;
  color: black;
  border: none;
  font-family: circular;
  &.sml-review-btn{
    font-size: 14px;
    color: #717171;
    background-color: white;
  }
  &.clean-btn{
    border: none;
    background-color: white;
    padding-left: 0;
  }
  &.white-open-btn {
    font-weight: 600;
    font-size: 1rem;
    padding: 13px 23px;
    background-color: white;
    border: 1px black solid;
    border-radius: 12px;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
    & a {
      text-decoration: none;
    }

    &:hover {
      background-color: #f7f7f7;
    }
    &:active {
      transform: scale(0.96);
      background-color: #f7f7f7;
    }
  }
  &.order-form-btn {
    padding: 0;
    background-color: white;
    display: flex;
    color:#b5adad;
    // min-height: 56px;
    width: 100%;
    > * {
      width: 50%;
    }
    &.up {
      border: 1px solid;
      border-radius: 0.75rem 0.75rem 0 0;
      > :first-child {
        border-right: 1px solid #b5adad;
      }
    }
    &.down {
      border: 1px #b5adad solid;
      border-top: none;
      border-radius: 0 0 0.75rem 0.75rem;
      width: 100%;
      .guests-arrow{
        width: auto;
        padding-right: 10px;
        font-size: rem(28px);
        color: black
      }
    }
  }
  &.reserve-btn {
    color: white;
    background: linear-gradient(
      to right,
      rgb(230, 30, 77) 0%,
      rgb(227, 28, 95) 50%,
      rgb(215, 4, 102) 100%
    );
    border: none;
    min-width: 200px;
    height: 3rem;
    font-weight: 600;
    border-radius: 0.75rem;
  }
  &.link {
    text-decoration: underline;
    font-weight: 600;
    background: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: fit-content;
  }
  &.save-share {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.75rem;
    text-decoration: none;
    align-items: center;

    > * {
      flex-direction: column;
      justify-content: space-around;
    }
    &:hover {
      background-color: #f7f7f7;
    }
    &:active {
      background-color: #f7f7f7;
      transform: scale(0.96);
    }
  }
}


.logo-general{
  color: #dc0e64;
  font-weight: 900;
  font-size: 1.2em;
  padding: 0;
}