.index-layout {
  height: 100vh;
  width: 100vw;
  grid-template-rows: max-content;
}

.main-content {
  display: grid;
  grid-column: 1 /-1;
  // background-color: rgb(212, 0, 255);

  grid-template-columns: 0px $mobile-breakpoint 0px;




  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }


  @include for-mobile-layout {
    // background-color: yellow;

    grid-template-columns:
      40px minmax(auto, $tablet-breakpoint) 40px;

  }

  @include for-tablet-layout {
    // background-color: rgb(0, 255, 68);
    grid-template-columns:
      40px minmax(auto, $desktop-narrow-breakpoint) 40px;

    >* {
      grid-column: 2;
    }
  }

  @include for-normal-layout {
    // background-color: orange;
    grid-template-columns:
      40px minmax(auto, $desktop-wide-breakpoint) 40px;

    >* {
      grid-column: 2;
    }
  }

  @include for-wide-layout {
    // background-color: red;

    grid-template-columns:
      80px minmax(auto, 1fr) 80px;

    >* {
      grid-column: 2;
    }
  }


}





.clickOutSideTheBox {
  // background-color: rgb(158, 114, 32);
  width: 100vw;
  height: 100vh;
  z-index: 55;
  position: absolute;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}


// .container-layout-setting{
// @include for-narrow-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $mobile-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-tablet-layout {
//     grid-template-columns:
//         minmax(40px, 1fr)
//         minmax(auto, $tablet-breakpoint)
//         minmax(40px, 1fr);
// }
// @include for-wide-layout {
//     grid-template-columns:
//         minmax(80px, 1fr)
//         minmax(100vw, $desktop-breakpoint)
//         minmax(80px, 1fr);
//     > * {
//         grid-column: 2;
//     }

// }
// }