.main-content {
  display: grid;
  


  grid-template-columns: 5px minmax(360px, $small-breakpoint) 5px;

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  // Main Page

  @include for-mobile-layout {

    grid-template-columns:
      minmax($pad-20, 1fr) minmax(auto, $small-breakpoint) minmax($pad-20, 1fr);

  }

  @include for-tablet-layout {
    grid-template-columns:
      minmax($pad-20, 1fr) minmax(auto, $medium-breakpoint) minmax($pad-20, 1fr);

  }

  @include for-normal-layout {
    grid-template-columns:
      minmax($pad-20) minmax(auto, $large-breakpoint) ($pad-20);

  }

  @include for-wide-layout {

    grid-template-columns:
    minmax($pad-40,1fr) minmax($x-large-breakpoint, 1700px) minmax($pad-40,1fr);
  }


  // @include for-details-xxl-layout {
  //   // background-color: red;

  //   grid-template-columns: 1fr minmax(auto, $xx-large-breakpoint-details) 1fr;

  //   > * {
  //     grid-column: 2;
  //   }
  // }
}

.clickOutSideTheBox {
  // background-color: rgb(158, 114, 32);
  width: 100vw;
  height: 100vh;
  z-index: 55;
  position: absolute;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

// .container-layout-setting{
// @include for-narrow-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $small-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-tablet-layout {
//     grid-template-columns:
//         minmax(minmax($pad-20, 1fr), 1fr)
//         minmax(auto, $medium-breakpoint)
//         minmax(minmax($pad-20, 1fr), 1fr);
// }
// @include for-wide-layout {
//     grid-template-columns:
//         minmax(80px, 1fr)
//         minmax(100vw, $desktop-breakpoint)
//         minmax(80px, 1fr);
//     > * {
//         grid-column: 2;
//     }

// }
// }
