
.dashboard{
    min-height: 90vh;
    display: grid;
    grid-template-columns: minmax($pad-24, 1fr) minmax(250px, $small-breakpoint) minmax($pad-24,
    1fr);

>* {
  grid-column: 2;

  &.full {
    grid-column: 1 /-1;
  }
}

@include for-wide-layout {
    grid-template-columns:
      // minmax($pad-40,1fr) minmax($x-large-breakpoint, 1700px) minmax($pad-40,1fr);
      80px minmax($x-large-breakpoint, auto) 80px;
  }
    .header-container{
        // display: grid;
        // >* {
        //     grid-column: 2;
        // }
        padding: 0 80px;
    }
   
    nav{
        padding: 50px 0px 20px;
        text-align: center;
        .dashboard-btn{
            background: none;
            font-size: 19px;
            font-weight: 800;
        }
    }
    .charts-section{
        padding: 40px 0px 60px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        justify-content: center;
        gap: rem(15px);
        .chart-container{
            width: 100%;
            box-shadow: #0000001f 0 6px 16px;
            padding: 24px;
            border-radius: 12px;
            max-height: 250px;
            canvas{
                max-width: 100%;
                max-height: 100%;
                height: 175px;
                width: 402px;
            }
        }
    }
    .table-container{
        margin: auto;
        width: 100%;
        padding-bottom: 60px;

        .css-quj9j6-MuiTable-root{
            
                .css-1ygcj2i-MuiTableCell-root, .MuiTableCell-alignCenter {
                    color: #909399;
                    font-family: circular;
                    font-weight: 800;
                }
                .css-1ex1afd-MuiTableCell-root{
                    font-family: circular;
                }
            

        }
        .table{
            width: 100%;
            font-size: rem(14px);
            .table-row{
                font-weight: 800;
                color: #909399
            }
            .table-row-body{

                &:hover{
                    background-color: rgba(128, 128, 128, 0.074);
                }
            }
            .dashboard-btn-turquoise{
                margin-right: 12px;
                background: #00a69917;
                border: 1px #00a699 solid;
                padding: 5px 10px;
                border-radius: 7px;
                color: #00a699;
                &:hover{
                    background: #00a699;
                    color: white
                }
            }
            .dashboard-btn-pink{
                background: rgb(255 90 96 / 10%);
                border: 1px #ff5a5f solid;
                padding: 5px 17px;
                border-radius: 7px;
                color: #ff5a5f;
                &:hover{
                    background: #ff5a5f;
                    color: white
                }
            }
        }
    }
}