.stay-order{
    font-family: circular;
    letter-spacing: 0.04rem;
    min-height: 90vh;
    .header{
        display: flex;
        height: 80px;
        padding-left: rem(24px);
        align-items: center;
        box-shadow: 0 1px 0 #ebebeb 
    }
    .confirm{
        padding: 64px 0 48px;
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        img{
            height: 40px;
            width: fit-content;
            margin-right: 8px;
        }
    }
    .main-order{
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        // justify-content: center;     
        .order-details-container{
            width: 50%;
            .changed-content{
                border: 1px solid rgb(221, 221, 221) ;
                padding: rem(24px);
                border-radius: rem(12px);
                height: max-content;
                margin-bottom: rem(24px);
                .icon-svg{
                    width: 35px;
                    fill: rgb(227, 28, 95);
                }
            }
            .payment-container{
                border-top: 1px solid rgb(221, 221, 221);
                
                .full-pay-option{
                    // box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset;
                    border: 1px solid rgb(221 221 221);
                    border-radius: 8px 8px 0px 0px;
                    padding: 1rem;
                    &:hover{
                        cursor: pointer;
                    }
                    &.checked{
                        border: 2px solid rgb(7, 7, 7);
                    }
                }
                .half-pay-option{
                    // box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset; 
                    border: 1px solid rgb(221 221 221);
                    border-top: 0;
                    border-radius: 0px 0px 8px 8px;
                    padding: 1rem;
                    &:hover{
                        cursor: pointer;
                    }
                    &.checked{
                        border: 2px solid rgb(7, 7, 7);
                    }
                }
                
            }
            .confirm-btn{
                margin-top: 45px;
            }
            .login-sign-up{
                border-top: 1px solid rgb(221, 221, 221);
                padding-top: 24px ;
                padding-bottom: 32px ;
                .login-input{
                    cursor: pointer;
                    font-family: circular;
                    border: none;
                    font-size: 1rem;
                    width: 100%;
                    margin: 0;
                    padding: 1rem;
                    // box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset;
                    border: 1px solid rgb(221 221 221);
                    &.up{
                        border-radius: 8px 8px 0px 0px;
                    }
                    &.down {
                        border-top: none;
                        border-radius: 0px 0px 8px 8px;
                        margin-bottom: 24px;
                    }
                    &.regular{
                        border-radius: 8px;
                        margin-bottom: 24px;
                    }
                    
                }
                
            }
        }
        .details{
            letter-spacing: 0.02rem;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: end;
            .details-modal{
                position: fixed;
                max-width: 465px;
                width: 75%;
                border: 1px solid rgb(221, 221, 221);
                padding: 24px;
                border-radius: rem(12px);

                .stay-details{
                    display: flex;
                    gap : rem(12px);
                    padding-bottom: rem(24px);
                    img{
                        object-fit:cover;
                        width: 30%;
                        border-radius: 0.5rem;                        
                    }

                   
                }
                .protection{
                    padding: rem(24px) 0;
                    border-top: 1px rgb(221, 221, 221) solid;
                    border-bottom: 1px rgb(221, 221, 221) solid;
                    img{
                        width: 62px;
                        height: 13px;
                        margin-left: 0.3rem;
                        margin-top: 0.3rem;
                    }
                }
     

            }
        }
    }
}

.radio-btn{
    appearance: none;
    border-radius: 50%;
    border: 1px solid rgb(176, 176, 176);
    // border-color: rgb(34, 34, 34);
    // border-width: 7px;
    width: 22px;
    // fill: black;
    background: white;
    height: 22px;
    margin-left: 0.7rem;
    &:checked{
        border: 7px solid rgb(34, 34, 34);
        
    }
}

@media (max-width: $padded-s) {
    .stay-order{
     .header{
        display: none;
     }

    .confirm{
        position: sticky;
        z-index: 2;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        padding:24px ;
        font-size: 16px;
        font-weight: 700;
        .clean-btn{
            font-size: 16px;
            font-weight: 700;
            padding: 0;
        }
     }
    .main-order{
        overflow-y: scroll;
        display: grid;
        grid-template-columns:24px auto 24px;
    
        .order-details-container{
            border: 0;
            width: 100%;
            grid-area: 2/2/3/3;

        }
        .confirm-btn{
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .details{
            width: 100%;
            grid-area: 1/2/2/3;

            .details-modal{
                padding: 0;
                border: 0;
                position: relative;
                max-width: none;
                width: 100%;
                .price-details{
                    .last-div{
                        margin-bottom: 20px;
                    }

                }
                
                   
                
                .stay-details{
                    flex-direction: column;
                    .fs14{
                        padding-bottom: 0;
                    }
                    img{
                        width: 50%;
                        aspect-ratio: 1/0.8;
                    }

                    

                }

            }
            
        }

       




    }
       
    }
    
}
