.stay-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr)) ;
    gap : 25px ;
 
    img{
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 0.8rem;
    }
    h4, p{
        margin: 0;
        line-height: 1.5;
        letter-spacing: 0.4px;
    }
    h4{
        font-size: 0.9375rem;
        font-weight: 600;
    }

    h4 span{
        font-weight: 400;
    }
    p{
        color: $grey;
        font-size: 1rem;
    }

    .stay-preview:hover{
        cursor: pointer;
    }

    .img-container{
        position: relative;
    }
    
    .remove-btn{
        position: relative;
        top: 30px;
        right: 5px;
        background-color: rgba(255, 255, 255, 0);
    }

    .arrows{
        position: absolute;
        top : 50%;
        transform: translate(0, -50%); 
        background-color: white;
        padding: 0 10px;
        margin: 5px;
        font-family: circular;
        border-radius: 50%;
        
    }
    .right{
        right: 0;
    }

    .dots{
        justify-content: center;
        justify-items: baseline;
        color: $grey;
        // position: absolute;  
    }
    
}
    




