.stay-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr)) ;
    gap : 25px ;
    z-index: 5;
    position: relative;
 
    .stay-img{
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 0.8rem;
        // margin-bottom: 0.5rem;
        height: 100%;
        position: relative;
        // margin-bottom: 20px;
        
    }
    h4, p{
        margin: 0;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }
    h4{
        font-size: 0.9375rem;
        font-weight: 600;
    }

    h4 span{
        font-weight: 400;
    }
    p{
        color: $grey;
        font-size: 1rem;
    }

    .star{
        font-size: 0.7rem;
        align-self: center;
    }
    .stay-preview{

        &:hover{
            cursor: pointer;
        }
    }

    .img-container{
        // display: flex;
        // position: relative;
        // position: absolute;
        display: block;
        margin-bottom: 10px;
    }
    
    .remove-btn{
        // position: absolute;
        // top: 50%;
        // right: 50px;
        background-color: rgba(255, 255, 255, 0);
        border: 0;
    }


    .carousel{
        

        .nav-btn{
            background-color: white;
            border-radius: 50%;
            color: black;
            padding: '3px';
            opacity : 0;  
            height: 30px;
            width: 30px;
            &:hover{
                background-color: white;
                opacity: 1;
            }
        }

        
        .css-aq8pb7-MuiSvgIcon-root{
            font-size: 0.6rem;
        }
        .indicators{
            position: absolute;
            z-index : 10;
            bottom: 0;
            margin-bottom: 15px;    
            
        }

        .indicator {
            margin-right: 0.2rem;
        }
        .active{
            color: white;
        }
        &:hover{
            .nav-btn{
                transition: 0.5s ;
                opacity: 1;
            }
        }
    }
    
}

// .page-top{
   
// }





