// /* Breakpoint mixins */

// @mixin for-mobile-layout {
//     @media (max-width: calc($mobile-breakpoint + 40px)) {
//         @content;
//     }
// }

// @mixin for-narrow-layout {
//     @media (min-width: calc($tablet-breakpoint + 40px)) {
//         @content;
//     }
// }


@mixin for-normal-layout {
    @media (min-width: calc($tablet-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($desktop-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-search-bar-open {
    padding: 2em;
    // min-width: 840px;
    border-radius: 50px;

}

@mixin for-search-bar-open-small {
    // display: grid;
    // grid-template-columns: 1fr 400px
    max-width: 400px;



}

@mixin flex-col-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin padding-br {
    border-radius: 100vw;
    padding: 0.5rem 1.2rem;
    // line-height: 1;
    // height: 48px;
}

@mixin butHoverOn {
    background: hsl(0 0% 94%);
    border-radius: 100vw;

}

@mixin fontWeightLight {
    font-weight: 300;

}
@mixin fontWeightBold {
    font-weight: 700;

}




// /* Media  Mixins */
// @mixin aspect-ratio($width, $height) {
//     position: relative;
//     overflow: hidden;
//     &::before {
//       display: block;
//       content: "";
//       width: 100%;
//       padding-top: calc(($height / $width) * 100%);
//     }
//     > * {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//     }

//     > img {
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   // Mixin for removing hover efects on iphone screen
//   @mixin hover-supported {    
//     @media not all and (pointer: coarse) {
//         &:hover {
//             @content;
//         }
//     }
//   }