// /* Breakpoint mixins */


// Main

@mixin for-mobile-layout {
    @media (min-width: $padded-s) {
        @content;
    }
}
@mixin for-tablet-layout {
    @media (min-width: $padded-m) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $padded-l) {
        @content;
    }
}
@mixin for-wide-layout {
    @media (min-width: $padded-xl) {
        @content;
    }
}

// Details

@mixin for-details-sm-layout {
    @media (min-width: $padded-s-details) {
        @content;
    }
}
@mixin for-details-md-layout {
    @media (min-width: $padded-m-details) {
        @content;
    }
}

@mixin for-details-lg-layout {
    @media (min-width: $padded-l-details) {
        @content;
    }
}
@mixin for-details-xl-layout {
    @media (min-width: $padded-xl-details) {
        @content;
    }
}
@mixin for-details-xxl-layout {
    @media (min-width: $padded-xxl-details) {
        @content;
    }
}

@mixin for-search-bar-open {
    padding: 2em;
    // min-width: 840px;
    border-radius: 3em;

}

@mixin for-search-bar-open-small {
    // display: grid;
    // grid-template-columns: 1fr 400px
    max-width: 400px;
}

@mixin flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding-br {
    border-radius: 100vw;
    padding: 0.5rem 1.2rem;
    // line-height: 1;
    // height: 48px;
}

@mixin butHoverOn {
    background: hsl(0 0% 94%);
    border-radius: 100vw;

}

@mixin fontWeightLight {
    font-weight: 300;

}

@mixin fontWeightBold {
    font-weight: 700;

}

@mixin grid-explorer-page {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    >* {
        grid-column: 2;
    }
    &.full {
        grid-column: 1 /-1;
      }

}






// /* Media  Mixins */
// @mixin aspect-ratio($width, $height) {
//     position: relative;
//     overflow: hidden;
//     &::before {
//       display: block;
//       content: "";
//       width: 100%;
//       padding-top: calc(($height / $width) * 100%);
//     }
//     > * {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//     }

//     > img {
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   // Mixin for removing hover efects on iphone screen
//   @mixin hover-supported {    
//     @media not all and (pointer: coarse) {
//         &:hover {
//             @content;
//         }
//     }
//   }