// /* Breakpoint mixins */


// Main

@mixin for-mobile-layout {
    @media (min-width: $padded-s) {
        @content;
    }
}
@mixin for-tablet-layout {
    @media (min-width: $padded-m) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $padded-l) {
        @content;
    }
}
@mixin for-wide-layout {
    @media (min-width: $padded-xl) {
        @content;
    }
}

// Details

@mixin for-details-sm-layout {
    @media (max-width: $padded-s-details) {
        @content;
    }
}
@mixin for-details-md-layout {
    @media (min-width: $padded-m-details) {
        @content;
    }
}

@mixin for-details-lg-layout {
    @media (min-width: $padded-l-details) {
        @content;
    }
}
@mixin for-details-xl-layout {
    @media (min-width: $padded-xl-details) {
        @content;
    }
}

@mixin for-search-bar-open {
    padding: 1.6rem;
    border-radius: 2em;

}

@mixin for-search-bar-open-small {
    // display: grid;
    // grid-template-columns: 1fr 400px
    max-width: 400px;
}

@mixin flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding-br {
    padding: 12px 12px;

}

@mixin butHoverOn {
    background:   #e0ddddf6;
    border-radius: 100vw;
}

@mixin fontWeightLight {
    font-weight: 300;

}

@mixin fontWeightBold {
    font-weight: 700;

}

@mixin grid-explorer-page {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    >* {
        grid-column: 2;
    }
    &.full {
        grid-column: 1 /-1;
      }

}

@mixin for-calendar {

       
        input {
            display: none;
        }


        .date-options {
            min-height: 30px;
            margin-bottom: 1.3em;

        }

        .react-datepicker {
            border: none;
            display: flex;
            flex-direction: row;
            width: fit-content;
            font-family: circular;
        }

        .react-datepicker__header {
            background-color: $white;

            .react-datepicker__current-month {
                font-size: 1rem;
                margin-bottom: 0.5em;
                font-weight: 600;
            }

        }
        
        .react-datepicker__day-name {
            color: $grey;
            width: $dataBoxWidth;
        }

        .react-datepicker__day--in-range:not(.react-datepicker__day--selected, .react-datepicker__day--range-end, .react-datepicker__day--outside-month) {
            background-color: $clr-box-radius;
            color: black;
        }

        .react-datepicker__day--outside-month{
            opacity: 0;
        }

        .react-datepicker__day {
            border-radius: 50%;
            width: $dataBoxWidth;
            font-weight: 600;
            line-height: 1.5em;
            padding: $dataBoxPadding;

            &--selected,
            &.react-datepicker__day--range-end:not(.react-datepicker__day--outside-month) {
                background-color: rgb(0, 0, 0);
                color: $white;
            }

            &--in-selecting-range:not(.react-datepicker__day--selected, .react-datepicker__day--outside-month) {
                background-color: $clr-in-range;
                color: black;
            }


            &:hover {
                background-color: $white;
                color: $text-black;
                outline: 1px solid black;

            }

            .react-datepicker__day--range-start,
            .react-datepicker__day--range-end {
                background-color: $clr-hover-on-dates;
            }


        }

        .react-datepicker__month-container{
            background-color: $white;
        }

        .react-datepicker__day--outside-month {
            background-color: $white;
            cursor: default;

            &:hover {
                background-color: $white;
                outline: none;
                cursor: default;

            }


        }

        .react-datepicker__day--keyboard-selected:not(.react-datepicker__day--range-end) {
            background-color: $white;
            color: $text-black;
        }

    // }

}

@mixin for-guest-counter{
        justify-self: end;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
        border-radius: 50px;
        background-color: #fff;

        .guests-modal-open {

            align-self: stretch;
            padding: 1rem 2rem;
            grid-area: 1/2/2/3;

            .guest {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 14px;
                margin-top: 14px;

                &:not(:last-child) {
                    border-bottom: $clr-border-between-div solid 0.5px;
                }

                &:last-child {
                    h5 {
                        @include fontWeightBold;
                        text-decoration: underline;
                    }
                }

                h3 {
                    font-size: $header-fonts;

                }

                h5 {
                    font-size: $font-size-search-bar;
                    @include fontWeightLight;
                    margin: 0;
                }

                .counter {
                    display: flex;
                    align-items: center;

                    >* {
                        margin: 10px;
                    }

                    .btn-counter {
                        font-size: 1em;
                        padding: 8px;
                        border-radius: 50%;
                        width: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                

            }
        }
}
// @mixin for-search-bar-open-small {
//     // display: grid;
//     // grid-template-columns: 1fr 400px
//     max-width: 400px;
// }






// /* Media  Mixins */
// @mixin aspect-ratio($width, $height) {
//     position: relative;
//     overflow: hidden;
//     &::before {
//       display: block;
//       content: "";
//       width: 100%;
//       padding-top: calc(($height / $width) * 100%);
//     }
//     > * {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//     }

//     > img {
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   // Mixin for removing hover efects on iphone screen
//   @mixin hover-supported {    
//     @media not all and (pointer: coarse) {
//         &:hover {
//             @content;
//         }
//     }
//   }