// Colors
$pink: #ff5a5f;
$turquoise: #00a699;
$orange: #fc642d;
$dark-grey: rgb(72, 72, 72);
$grey: rgb(118, 118, 118); 
$text-black:#222222;
$clr-box-radius: #DDDDDD;
$white:#ffff;
$clr-ligthtext:rgb(113, 113, 113);
$clr-box-radius: #DDDDDD;
$clr-search-icon-bgc:#dc0e64;


// Breakpoints (Need to find all breakpoints)
$mobile-breakpoint: 639px;
$tablet-breakpoint: 1047px;
$desktop-breakpoint: 1048px;


// Padding
$paddingHeader:16px;
$paddingImg:12px;


// font size
$header-fonts:16px;

// icon
$icon-size:20px;

