// Colors
$pink: #ff5a5f;
$turquoise: #00a699;
$orange: #fc642d;
$dark-grey: #484848;
$grey: #767676; 


// Breakpoints (Need to find all breakpoints)
$mobile-breakpoint: 639px;
$tablet-breakpoint: 1047px;
$desktop-breakpoint: 1048px;

